// A colour that looks well over the subject-color, ideally black or white
@text-color: #FFFFFF;

// A colour related to the subject. Try https://github.com/github/linguist for ideas.
// Used 'Ruby' from the xkcd.com color survey (sorry, couldn't resist such temptation).
@subject-color: #ca0147;

/***
A colour that contrasts well with the subject colour, ideally one of the CoderDojo colours (though use something else if they don't work):
blue: #0093D5
green: #49B749
orange: #FAA31A
purple: #73449B
***/
// Something not unlike cyan
@contrast-color: #11FFFF;

@import '_subject_base.less';
